<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>BMI and Body Fat Percentage</title>
    <style>
        h1,
        h3 {
            text-align: center;
        }

        .center {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>BMI 與 體脂肪率 計算</h1>
    <h3> BMI = 體重(公斤) / 身高²(公尺²)</h3>
    <h3>體脂率 = 1.2 x BMI + 0.23 x 年齡 – 5.4 -10.8 x 性別（男生的值為 1，女生的值為 0）</h3>

    <div id="app" class="center">

        <input type="text" placeholder="身高(cm)" v-model="height"><span> cm</span><br>
        <input type="text" placeholder="體重(kg)" v-model="weight"><span> kg</span><br>
        <input type="text" placeholder="年齡" v-model="age"><span> 歲</span><br>

        <select v-model="gender">
            <option v-for="list in lists" :value="list.val" selected>{{list.item}}</option>
            
        </select>


        <p>BMI指數：{{BMIcounting}}</p>
        <p>體脂肪率：{{bodyfatcounting}}</p>

    </div>



    <script>

        var app = new Vue({
            el: '#app',
            data: {
                height: '',
                weight: '',
                BMI: '',
                age: '',
                gender: '',
                lists: [
                    { val: '1', item: '男' },//讓val的數值直接拿去計算
                    { val: '0', item: '女' },
                ]
            },
            computed: {
                BMIcounting: function () {
                    return this.weight / ((this.height / 100) * (this.height / 100))//BMI計算
                },
                bodyfatcounting: function () {
                    return 1.2 * this.BMIcounting + 0.23 * this.age - 5.4 - 10.8 * this.gender//體脂計算
                },
            },
        });


    </script>
</body>

</html>